# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.tfstate.lock.info
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Arquivos de backup
*.backup
*.bak

# Arquivos de IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Arquivos do sistema
.DS_Store
Thumbs.db

